# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# This lists cover the "core" components of vLLM that require careful review
/vllm_spyre @joerunde
/tests @joerunde
/examples @joerunde

# Docs
/docs @rafvasq
