# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence, and will be
# requested for review when someone opens a pull request
* @joerunde @yannicks1 @tdoublep @sducouedic

# This lists cover the "core" components of vLLM that require careful review
/vllm_spyre @joerunde @prashantgupta24
/tests @rafvasq @prashantgupta24
/examples @yannicks1 @prashantgupta24

# Docs
/docs @rafvasq
