name: Build docs

on:
  workflow_call:
    inputs:
      python-version:
        type: string
        required: false
        default: "3.11"

      requirements-path:
        type: string
        required: false
        default: "docs/requirements-docs.txt"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install documentation dependencies
        run: pip install -r ${{ inputs.requirements-path }}

      - name: Build MkDocs site
        run: mkdocs build --strict

      - name: Upload built site artifact
        uses: actions/upload-artifact@v4
        with:
          name: built-site
          path: site
