name: Preview docs

on:
  pull_request:
    branches: [ main ]
    paths:
      - "**/*.md"
      - "docs/**"
      - "mkdocs.yaml"
      - ".github/workflows/build_docs.yml"
      - ".github/workflows/preview_docs.yml"

permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build_docs.yml
