name: Publish docs

on:
  pull_request:
    branches: [ main ]
    paths:
      - "**/*.md"
      - "docs/**"
      - "mkdocs.yaml"
      - ".github/workflows/build_docs.yml"
      - ".github/workflows/publish_docs.yml"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    uses: ./.github/workflows/build_docs.yml


  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
