name: Publish docs

on:
  push:
    branches: [ main ]
    paths:
      - "**/*.md"
      - "docs/**"
      - "mkdocs.yaml"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    uses: ./.github/workflows/build_docs.yml

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download built site
        uses: actions/download-artifact@v4
        with:
          name: built-site
          path: site
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: site

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
