name: Publish docs

on:
  push:
    tags:
      - 'v*.*.*'  # Triggers on version tags like v1.2.3
    branches:
      - main  # Also deploy from main as 'dev'
    paths:
      - "**/*.md"
      - "docs/**"
      - "mkdocs.yaml"
      - ".github/workflows/publish_docs.yml"

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: pip install -r docs/requirements-docs.txt

      - name: Configure Git
        run: |
          git fetch origin gh-pages --depth=1
          git config user.name github-actions
          git config user.email github-actions@github.com
      
      - name: Deploy documentation
        run: |
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            # Extract version from tag (e.g., v0.14.0 -> 0.14.0)
            VERSION="${GITHUB_REF#refs/tags/v}"

            # This updates the gh-pages branch, adding the new version of the docs
            mike deploy --push --update-aliases "$VERSION" latest
            
            # Uncomment this if we want to update the default version to the newly deployed version.
            # For now we can keep the default version set to a specific version while we
            # work on the transition to 2.0
            # mike set-default --push latest
          else
            # Deploy development version from main branch
            mike deploy --push dev
          fi



